<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet"
href="​https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css​">
<script src="https://kit.fontawesome.com/4bddd14726.js" crossorigin="anonymous"></script>

    <title>Mercado Liebre</title></head>
    <header class="main-header">         
<div class="main-header-top-bar">  <img src="images/images/logo-mercado-liebre.svg" alt="Logo" class="logo">
    <input type="text" placeholder="Buscar productos, marcas y más" class="busqueda"><i class="fas fa-search"></i> 
    <h2 class="copy-header"> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas o con tarjeta de crédito</h2>    
 </div>

  <a href="#" class="burger-menu">
    <i class="fa fa-bars burger fa-2x"></i>
</a> 
<nav class="main-navbar">
<ul  class="left-navbar">
<li><a href= "#">Ofertas </a> </li>  
<li><a href="#">Tiendas oficiales</a></li>
<li><a href="#">Vender</a></li>
<li><a href="#">Ayuda</a></li>
</ul>

<ul class="rigth-navbar">
<li><a href="/views/register.html">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
<li><a href="/views/login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
<li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
</ul></nav>

<div class="main-header-image">  <img src="images/images/img-home-banner.jpg" alt="Galería" class="galería">
    
</header>
<body>
    <main class="main">  
    
    
<section> <h3 class='h3'>Basado en tu última visita
</h3> <div class="todos"></div>
 <article class="productos"><div>
 
  <img src="/images/images/img-cafetera-moulinex.jpg" alt="Cafetera" class="vidriera">
  <div class="camion"><i class="fas fa-truck fa-2x" style= color:#39b54a></i><br>
  <div class="container"><a class= "precio">$6.770  </a><a class="des">    40% off</a></div> <br> 
    <a class="nombre-producto">Cafetera Moulinex</a></div>
</div></article> 
 <article class="productos"><div>
    
    <img src="/images/images/img-macbook-pro-2019.jpg" alt="Macbook" class="vidriera">
    <div class="camion"><i class="fas fa-truck fa-2x" style= color:#39b54a></i><br>
    <div class="container"><a class= "precio">$230.000 </a><a class="des">20% off</a></div> <br> 
       <a class="nombre-producto"> MacBook Pro 2019
       </a></div>
        </div> </article>

   <article class="productos"><div>
    <img src="/images/images/img-samsung-galaxy-s10.jpg" alt="Samsung S10" class="vidriera">
    <div class="camion"><i class="fas fa-truck fa-2x" style= color:#39b54a></i><br>
        <div class="container"> <a class= "precio"> $70.500 </a> <a class="des">  10% off</a> </div><br>
<a class="nombre-producto">Samsung Galaxy S10
</a> </div>
 </article> 
   <article class="productos"><div>
    
    <img src="/images/images/img-tv-samsung-smart.jpg" alt="TV Samgung" class="vidriera">
    <div class="camion"><i class="fas fa-truck fa-2x" style= color:#39b54a></i><br>
        <div class="container"> <a class= "precio"> $23.200 </a><a class="des"> 5% off</a> </div><br>
       <a class="nombre-producto"> SmartTv Samsung 43"
    </a></div>
  </div> </article>    
</section>
<section>
    <h3 class='h3'>Ofertas</h3> <div class="todos"></div>
    <article class="productos"><div>
          <img src="/images/images/img-cafetera-moulinex.jpg" alt="Cafetera" class="vidriera">
           <div class="camion"><i class="fas fa-truck fa-2x" style= color:#39b54a></i><br>
            <div class="container"> <a class= "precio">$6.770 </a><a class="des">   40% OFF</a>
       </div><br>
      <a class="nombre-producto">Cafetera Moulinex</a></div>
   </div> </article> 
    <article class="productos"><div>
       
       <img src="/images/images/img-macbook-pro-2019.jpg" alt="Macbook" class="vidriera">
       <div class="camion"><i class="fas fa-truck fa-2x" style= color:#39b54a></i><br>
        <div class="container"><a class= "precio">$230.000 </a><a class="des">   20% off</a> </div><br> 
         <a class="nombre-producto">MacBook Pro 2019
         </a></div>
      </div></article>
      <article class="productos"><div>
       
       <img src="/images/images/img-samsung-galaxy-s10.jpg" alt="Samsung S10" class="vidriera">
      <br> <div class="camion"><i class="fas fa-truck fa-2x" style= color:#39b54a></i><br>
        <div class="container"> <a class= "precio"> $70.500 </a><a class="des">10% off</a> </div><br>
   <a class="nombre-producto">Samsung Galaxy S10</a>
               </div>
            </div>  </article>
      <article class="productos"><div>
       
       <img src="/images/images/img-tv-samsung-smart.jpg" alt="TV Samgung" class="vidriera">
      <div class="camion"><i class="fas fa-truck fa-2x" style= color:#39b54a></i><br>
        <div class="container"> <a class= "precio"> $23.200 </a> <a class="des">    5% off</a> </div> <br>
        <a class="nombre-producto"> SmartTv Samsung 43"
        </a></div>
            </div> </article>    
   </section>

</main>  
<footer>
<section><article class="foot">
    <i class="fas fa-credit-card fa-2x" style= color:#1259c3></i>
   <h4> Pagá con tarjeta o en efectivo</h4>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en 7 puntos de pago. ¡Y siempre es seguro! </p>
</article></section> 
<section><article class="foot">
    <i class="fas fa-gift fa-2x" style= color:#1259c3></i>
    <h4> Envío gratis desde $ 2.500 </h4>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
    productos. Es un beneficio de Mercado Puntos. </p>
</article></section> 
<section><article class="foot">
    <i class="fas fa-user-shield  fa-2x" style= color:#1259c3></i>

    <h4>Seguridad, de principio a fin</h4>
   <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
    porque estás siempre protegid@. </p>
</article></section> 
<section><article class="foot">  
<h4 class="h4">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
</article></section> 
</footer>
</body>
</html>
